
html body {width: 100%}

#page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem; /*footer height*/
}


.test-block {
  border: 2px solid red;
  border-radius: 20px;
}


/* Flex styling ------------------------------------------------------- */
.flex-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.flex_gr_bg{
  margin: .25%
}

.flex_gr_sm{
  margin: .25%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.about_me{
  padding-top: 5px;
  padding-bottom: 40px
}

.index_link{
  border: 2px solid blue;
  border-radius: 10px;
  margin: .5%;
  padding: 20px
}


@media (min-width: 550px) {
  .flex-container {
    flex-direction: row;
  }

/*golden ratio: 62 38*/
  .flex_gr_bg{
    flex-basis: 60%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.25%;
  }

  .flex_gr_sm{
    flex-basis: 36%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.25%;
    margin-right: 0.5%;
  }
} /*end of flex media query*/


/* statistics.html
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */

.grid-container > div {
  border: 2px solid green;
  border-radius: 20px;
  margin: 0.5rem;
  padding-left:10px;
  padding-top: 10px;
}



.grid-container{
  display: grid;

  grid-template:
    'stats-section1'
    'stats-section2'
    'stats-section3'
    'stats-section4'
    'stats-section5'
    'stats-section6';
}



.stats-section1 { grid-area: stats-section1; }
.stats-section2 { grid-area: stats-section2; }
.stats-section3 { grid-area: stats-section3; }
.stats-section4 { grid-area: stats-section4; }
.stats-section5 { grid-area: stats-section5; }
.stats-section6 { grid-area: stats-section6; }




@media (min-width: 550px) {
  .grid-container{
    grid-template:
      'stats-section1 stats-section2'
      'stats-section3 stats-section4'
      'stats-section5 stats-section6';
  }
}

@media (min-width: 750px) {
  .grid-container{
    grid-template:
      'stats-section1 stats-section2 stats-section3'
      'stats-section4 stats-section5 stats-section6';
  }
}




/* footer
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */

footer{

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  background-color: slategrey;
}


  /* top nav
  css coppied from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


  /* Add a black background color to the top navigation */
 .topnav {
  background-color: steelblue;                                     /*CHANGED*/
  overflow: hidden;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
   float: right;                                                    /*CHANGED*/
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 /* Add an active class to highlight the current page */
 .topnav a.active {
   background-color: mediumblue;                                    /*CHANGED*/
   color: white;
 }

 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
   display: none;
 }

 /* When the screen is less than 600 pixels wide, hide all links, except for the
 first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 549px) {                              /*CHANGED*/

  .topnav a {display: none;}                                        /*CHANGED*/

  .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user
clicks on the icon. This class makes the topnav look good on small screens
(display the links vertically instead of horizontally) */
@media screen and (max-width: 549px) {                             /*CHANGED*/
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
}
