
html body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("images/white-crumpled-paper-large.jpg");
  /*background-repeat: no-repeat;*/
  background-position: center;
  font-family: 'Raleway', sans-serif;
}



#page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem; /*footer height*/
}

h1 a{
  text-decoration:none;
  color: white;}

h3{
  background-color: steelblue;
  padding: 10px;
  margin: 0px 0px 0.5rem 0px;
  /*margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;*/
}

.flex_gr_sm a{
  text-decoration:none;
  color: white;
}

/* Flex styling Index ------------------------------------------------------ */
.flex-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.flex_gr_bg{
  margin: .25%;
  background-color: white;
  opacity: 0.8;
}

.flex_gr_sm{
  margin: .25%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.about_me{
  padding-top: 5px;
  padding-bottom: 40px
}

.index_link{
  color: white;
  font-size: 2em;
  margin: .5%;
  padding: 20px
}


.stats-link{
  background-color: OrangeRed
}

.eng-link{
  background-color: Navy
}

.contact-link{
  background-color: Coral
}

/* Flex styling Index Tablet and larger ------------------------------------ */
@media (min-width: 550px) {
  .flex-container {
    flex-direction: row;
  }

/*golden ratio: 62 38*/
  .flex_gr_bg{
    flex-basis: 60%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.25%;
  }

  .flex_gr_sm{
    flex-basis: 36%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.25%;
    margin-right: 0.5%;
  }
} /*end of flex media query*/


/* statistics.html GRID
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */

.grid-container > div {
  margin: 0.5rem;
  background-color: white;
  opacity: 0.85;
  /*  border: 2px solid red;
    border-radius: 20px;
  padding-left:10px;
  padding-right:10px;*/

}

/*.stats-section1, .stats-section2, .stats-section3,
.stats-section4, .stats-section5, .stats-section6{}*/


.grid-container > div > p{
  margin-left: 10px;
  margin-right: 10px;
}
.grid-container > div > dl{
  margin-left: 10px;
  margin-right: 10px;
}


.grid-container{
  display: grid;

  grid-template:
    'stats-section1'
    'stats-section2'
    'stats-section3'
    'stats-section4'
    'stats-section5'
    'stats-section6';

    justify-content: space-evenly;
}



.stats-section1 { grid-area: stats-section1; }
.stats-section2 { grid-area: stats-section2; }
.stats-section3 { grid-area: stats-section3; }
.stats-section4 { grid-area: stats-section4; }
.stats-section5 { grid-area: stats-section5; }
.stats-section6 { grid-area: stats-section6; }



/*Media for tablet*/
@media (min-width: 550px) {
  .grid-container{
    grid-template:
      'stats-section1 stats-section2'
      'stats-section3 stats-section4'
      'stats-section5 stats-section6';

    grid-auto-columns:48%; /*set max width*/
  }
}

/*Media for desktop*/
@media (min-width: 750px) {

  .grid-container{
    grid-template:
      'stats-section1 stats-section2 stats-section3'
      'stats-section4 stats-section5 stats-section6';

    grid-auto-columns:33%; /*set max width*/
  }

}




/* iframes in statistics page
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */
.stats-section6{
  padding-left: 0px;
}
/*
.map {
  width: 20%;
  /*height: 100%;
}
*/
.video-iframe, .map-iframe{
  display: inline-block;
  width:90%;
  height:90%;
  opacity: 1;
}

/*TODO: does this need to be hard coded*/
.video-wrapper, .map-wrapper{
  text-align: center;
  height: 400px;
}

.image-wrapper{
    display: inline-block;
}
.img-div{
  text-align: center;
}

img{
  width: 90%;
}



/*
@media (min-width: 550px) {
  .video-wrapper{
    height: 80%;
  }
}
*/


/* Form
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */
form{
  padding:10px;
}



.submit_btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




/* footer
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */

footer{

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  background-color: slategrey;
}

footer p {
  display: inline;
}

footer i{
  float: right;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

footer a{
  color: black;
}


  /* top nav
  css coppied from https://www.w3schools.com/howto/howto_js_nav-list_responsive.asp
  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Add a black background color to the top navigation */
 .topnav {
  background-color: steelblue;                                     /*CHANGED*/
  overflow: hidden;
 }


 /* Style the links inside the navigation bar */
 .nav-list a {
   float: right;                                                    /*CHANGED*/
   display: inline;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 /* Change the color of links on hover */
 .nav-list a:hover {
   background-color: #ddd;
   color: black;
 }

 /* Add an active class to highlight the current page */
 .nav-list a.active {
   background-color: mediumblue;                                    /*CHANGED*/
   color: white;
   text-align: left;
 }

 /* Hide the link that should open and close the nav-list on small screens */
 .nav-list .icon {
   display: none;
 }

 /* When the screen is less than 600 pixels wide, hide all links, except for the
 first one ("Home"). Show the link that contains should open and close the nav-list (.icon) */
@media screen and (max-width: 549px) {                              /*CHANGED*/
  /*Only float left when the navbar goes to hamburger
  The H1 is inline otherwise, and takes up a whole row. Tis is beacuse there
  canb be a screen size where both the h1 and the links go past half way*/


  .nav-list a {display: none;}                                        /*CHANGED*/

  .nav-list a.icon {
   float: right;
   display: block;
 }

 .nav-list.responsive {position: relative;}
 .nav-list.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .nav-list.responsive a {
   float: none;
   display: block;
   text-align: left;
 }

}
